h1 {
    font-size: 60px;
}
#content {
    border-radius: 15px;
    margin-left: 30px;
    width: 450px;
    margin-top: -10px;
    font-size: 23px;
}

.avatar {
    width: 400px;
    height: 400px;
    border-radius: 50%;
    box-shadow: rgba(0, 0,0, 0.1) 0 10px 10px;
    margin-left: 250px;
}

section {
    margin-top: 125px;
    display: flex;
    font-family: 'Times New Roman', Times, serif;
}

.personalInfor {
    margin: 0;
    padding: 0;
    list-style-type: none;
    margin-left: -2%;
    margin-top: -5%;
}

.personalInfor li {
    width: 50px;
    display: inline-block;
    padding: 20px 10px;
}

.personalInfor li a img:hover {
    opacity: 0.5;
    transition: opacity ease-in-out 0.15s;
}

.personalInfor img {
    width: 40px;
    height: 40px;
}

#navigator{
    width: auto;
    height: 50px;
    border-radius: 10px;
    border: 1px solid #aaa;
    box-shadow: rgba(0, 0,0, 0.1) 0 10px 10px;
    margin-top:-20px ;
    display: flex;
    background-color: whitesmoke;
}

a:link {
    color: black;
}

a:visited{
    color: black;
}
a:hover{
    color: green;
}

a:active{
    color: blue;
}

li {
    
    list-style-type: none;
    padding: 10px;
    font-size: 20px;;
    margin-top: 5px;
}

body {
    background-image: url(BACKGROUND.webp);
}

.goodWeb {
    font-size: 30px;
    color:black;
    margin-left: 30px;
    margin-top: -5px;

}

.position {
    position: -webkit-sticky;
    position: sticky;
    top: 0;
}

.contentSec h2 {
    text-decoration-line: underline;
}

li:nth-of-type(1){
    flex: 1;
}

li:nth-of-type(2){
    flex: 1;
}

li:nth-of-type(3){
    flex: 1;
}

li:nth-of-type(4){
    flex: 1;
}

.aboutImg {
    float: left;
    margin-right: 10px;
    width: 520px;
    height: 525px;
}

#infor {
    margin-top: 50px;
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: 28px;
    padding: 20px;
    margin: 20px;
}

.imporInfor {
    font-size: 36px;
}

input {
    width: 100%;
}

#contactInfor {
    font-size: 25px;
    padding: 20px;
    margin-top: 20px;
}

input[type=text],select, textarea, .buttonClick{
    width: 100%;
    padding: 15px 15px;
    border-radius: 10px;
    display: block;
    border: 1px solid gray;
    box-sizing: border-box;
    margin-top: 10px;
}

.buttonClick{
    background-color: green;
    color:white;
    font-size: 20px;
    text-align: center;
}

.comment textarea{
    height: 200px;
}

label {
    font-family: Georgia, 'Times New Roman', Times, serif;
}

.ComLogo {
    float: right;
    width: 440px;
    height: 440px;
    margin-right: 5%;
    margin-top: 10%;
    margin-left: 3%;
}

#ComDetail {
    font-size: 30px;
    padding: 25px 25px;
    margin: 20px;
}

.buttonMe {
    background-color: green;
    border:none;
    color: white;
    padding: 20px 35px;
    text-align: center;
    font-size: 22px;
    border-radius: 7px;
    cursor: pointer;
    margin-left: 37%;
}

.buttonMe:hover {
    background-color:green;
    color: black;
}

